<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>javaweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>driver</param-name>
    <param-value>com.mydriver.jdbc.Driver</param-value>
  </context-param>
  <servlet>
    <servlet-name>helloServlet</servlet-name>
    <servlet-class>com.wj.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.wj.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet2</servlet-name>
    <servlet-class>com.wj.servlet.LoginServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet2</servlet-name>
    <url-pattern>/loginServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet3</servlet-name>
    <servlet-class>com.wj.servlet.LoginServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet3</servlet-name>
    <url-pattern>/loginServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forwardServlet</servlet-name>
    <servlet-class>com.wj.servlet.ForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forwardServlet</servlet-name>
    <url-pattern>/forwardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>com.wj.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>redirectServlet</servlet-name>
    <servlet-class>com.wj.servlet.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redirectServlet</servlet-name>
    <url-pattern>/redirectServlet</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>helloFilter</filter-name>
  	<filter-class>com.wj.filter.HelloFilter</filter-class>
  	<init-param>
  		<param-name>name</param-name>
  		<param-value>root</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>helloFilter</filter-name>
  	<url-pattern>/filter/test.jsp</url-pattern>
  </filter-mapping>
  
    <filter>
  	<filter-name>secondFilter</filter-name>
  	<filter-class>com.wj.filter.SecondFilter</filter-class>
  	<init-param>
  		<param-name>name</param-name>
  		<param-value>root</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>secondFilter</filter-name>
  	<url-pattern>/filter/test.jsp</url-pattern>
  </filter-mapping>
  
  
  
</web-app>